<!doctype html>
<html lang="en">
<head>
	<title>{{ page.getPageTitle }}</title>
	<meta name="keywords" content="{{ page.getTags|join(', ') }}">
	<meta name="description" content="{{ page.getDescription }}">
</head>
<body>

</body>
</html>

